
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/RoobertBC-Regular.otf);
}
@font-face {
    font-family: 'wire one';
    src: url(../fonts/WireOne-Regular.ttf);
    font-weight: 19000;
}