.nav-menu-wrapper {
  background-color: #fafbfd;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 2.2rem 3rem;
  @include flex;
  margin-bottom: 53rem;
  text-transform: capitalize;
}

.logo h1 {
  text-transform: lowercase;
  font-size: 2.6rem;
}

.main-nav__nav-list {
  @include flex;
}

.main-nav__nav-list li a {
  margin: 0 0.6em;
  color: #04000c;
  font-weight: 500;
  &:hover {
    color: #b38cfc;
  }
  img{
    width:12px;
  }
}
.main-nav__nav-list li:last-child a {
  border-radius: 10px;
  background-color: #b38cfc;
  padding: 1.2rem 2rem;
  border: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3 ease;
  &:hover {
    box-shadow: 2px 4px 20px rgba(179, 140, 252, 0.2);
  }
}
.main-nav__mobile-menu {
  display: none;
}

.hero {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.hero__text-wrapper {
  max-width: 500px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 12ch;
  padding-top: 5rem;
  perspective: 3000px;
  width: 100%;
  color: inherit;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 0.95;
}

.hero__title span{
  animation: scaleUp 1.4s ease 1 normal forwards .4s;
}
@keyframes scaleUp {
  0%{
    filter:blur(10px);
    opacity:0;

  }
  25%{
    filter:blur(10px);
    opacity:.4;

  }
50%{
    filter:blur(10px);
    opacity:.7;

  }


  75%{
    transform: translateY(0) scale(1);
  }
  85%{
        opacity: 1;
    transform: translateY(2px) scale(.99);
  }
  100%{
        filter: blur(0);
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.hero__paragraph {
  margin: 2.2em 1.2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}
.hero__link {
  padding: 1.8rem 4rem;
  border-radius: 10px;
  background-color: #b38cfc;
  border: none;
  color: #fff;
  font-weight: 500;
  animation: fall-In .35s ease 1.5s 1 normal both;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 2px 4px 20px rgba(179, 140, 252, 0.2);
  }
}
@keyframes fall-In{
  0%{
        opacity: 0;
    transform: translateY(-10px) scaleY(1.5);
  }
  100%{
        opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}
.hero__text{
  animation-name: fadeIn;
  animation-duration: .4s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(10px);
  }
 100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.hero__background-image{
   margin-top:-5rem; 
}
.hero__background-image-wrapper{
  position: relative;
}
.hero__background-image--mobile{
  display:none;
}
.hero__phone-image-wrapper{
  @include flex;
  margin: 0 auto;
  justify-content: center;
  // max-width: ;
  position:absolute;
  bottom:0px;
  left:10%;
  width:70%;
  // max-width:600px;
   
}
.hero__phone-image--light{
  width:33%;
  img{
      height: 100%;
    max-height: 75%;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 1rem; 
    left: 33%;
    max-width: 100%;
    z-index:0;
    &:hover{
transform: rotateY(-1.5deg) rotate(-15deg);
   transition: transform .4s ease;
    z-index: 1;
     }
}
}
.hero__phone-image--dark{
  width:39%;
img{
      filter: drop-shadow(-12.5193px 12.5193px 37.5579px rgba(74,77,86,.2));
    // margin-left: 20%;
    -o-object-fit: contain;
    object-fit: contain;
    max-width: 100%; 
    z-index:1;
    transition: transform .4s ease;
    &:hover{
transform: rotateX(-1deg) rotateY(0deg) rotate(7.5deg);
z-index: -1;
    }
}
}
.first-section {
  margin: 6rem 0;
  padding:0 rem;
}
.first-section__small-title{
      font-weight: 600;
    letter-spacing: .7px;
    text-transform: uppercase;
        color: #fa7a43;
        font-size:1.3rem;
            margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
.first-section__big-title{
      color: inherit;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 1.05;
}
@media screen and (max-width: 768px) {
  .main-nav__nav-list {
    display: none;
  }
  .main-nav__mobile-menu {
    display: block;
  }
  .hero__background-image{
    display:none;
  }
.hero__background-image--mobile{
  display: block;
}
html{
  font-size:45%
}

}
