* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

a:focus {
  border: none;
  outline: none;
}

ul,
li {
  list-style-type: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto";
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RoobertBC-Regular.otf);
}

@font-face {
  font-family: 'wire one';
  src: url(../fonts/WireOne-Regular.ttf);
  font-weight: 19000;
}

.nav-menu-wrapper {
  background-color: #fafbfd;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 2.2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 53rem;
  text-transform: capitalize;
}

.logo h1 {
  text-transform: lowercase;
  font-size: 2.6rem;
}

.main-nav__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__nav-list li a {
  margin: 0 0.6em;
  color: #04000c;
  font-weight: 500;
}

.main-nav__nav-list li a:hover {
  color: #b38cfc;
}

.main-nav__nav-list li a img {
  width: 12px;
}

.main-nav__nav-list li:last-child a {
  border-radius: 10px;
  background-color: #b38cfc;
  padding: 1.2rem 2rem;
  border: none;
  color: #fff;
  font-weight: 500;
  -webkit-transition: 0.3 ease;
  transition: 0.3 ease;
}

.main-nav__nav-list li:last-child a:hover {
  -webkit-box-shadow: 2px 4px 20px rgba(179, 140, 252, 0.2);
          box-shadow: 2px 4px 20px rgba(179, 140, 252, 0.2);
}

.main-nav__mobile-menu {
  display: none;
}

.hero {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

.hero__text-wrapper {
  max-width: 500px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 12ch;
  padding-top: 5rem;
  -webkit-perspective: 3000px;
          perspective: 3000px;
  width: 100%;
  color: inherit;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 0.95;
}

.hero__title span {
  -webkit-animation: scaleUp 1.4s ease 1 normal forwards 0.4s;
          animation: scaleUp 1.4s ease 1 normal forwards 0.4s;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.4;
  }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  85% {
    opacity: 1;
    -webkit-transform: translateY(2px) scale(0.99);
            transform: translateY(2px) scale(0.99);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes scaleUp {
  0% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  25% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.4;
  }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  85% {
    opacity: 1;
    -webkit-transform: translateY(2px) scale(0.99);
            transform: translateY(2px) scale(0.99);
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

.hero__paragraph {
  margin: 2.2em 1.2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}

.hero__link {
  padding: 1.8rem 4rem;
  border-radius: 10px;
  background-color: #b38cfc;
  border: none;
  color: #fff;
  font-weight: 500;
  -webkit-animation: fall-In 0.35s ease 1.5s 1 normal both;
          animation: fall-In 0.35s ease 1.5s 1 normal both;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero__link:hover {
  -webkit-box-shadow: 2px 4px 20px rgba(179, 140, 252, 0.2);
          box-shadow: 2px 4px 20px rgba(179, 140, 252, 0.2);
}

@-webkit-keyframes fall-In {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px) scaleY(1.5);
            transform: translateY(-10px) scaleY(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

@keyframes fall-In {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px) scaleY(1.5);
            transform: translateY(-10px) scaleY(1.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scaleY(1);
            transform: translateY(0) scaleY(1);
  }
}

.hero__text {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.hero__background-image {
  margin-top: -5rem;
}

.hero__background-image-wrapper {
  position: relative;
}

.hero__background-image--mobile {
  display: none;
}

.hero__phone-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: -75px;
  left: 0%;
  width: 85%;
}

.hero__phone-image--light {
  width: 33%;
}

.hero__phone-image--light img {
  height: 100%;
  max-height: 75%;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 1rem;
  left: 39%;
  max-width: 100%;
  z-index: 0;
}

.hero__phone-image--light img:hover {
  -webkit-transform: rotateY(-1.5deg) rotate(-15deg);
          transform: rotateY(-1.5deg) rotate(-15deg);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 1;
}

.hero__phone-image--dark {
  width: 39%;
}

.hero__phone-image--dark img {
  -webkit-filter: drop-shadow(-12.5193px 12.5193px 37.5579px rgba(74, 77, 86, 0.2));
          filter: drop-shadow(-12.5193px 12.5193px 37.5579px rgba(74, 77, 86, 0.2));
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100%;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

.hero__phone-image--dark img:hover {
  -webkit-transform: rotateX(-1deg) rotateY(0deg) rotate(7.5deg);
          transform: rotateX(-1deg) rotateY(0deg) rotate(7.5deg);
  z-index: -1;
}

.first-section {
  margin: 6rem 0;
  padding: 0 rem;
}

.first-section__small-title {
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #fa7a43;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.first-section__big-title {
  color: inherit;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -1.2px;
  line-height: 1.05;
}

.first-section__intro-text {
  margin: 6rem 0;
}

.first-section__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.first-section {
  z-index: -1;
  margin: 4rem 0;
  background-color: #fafafa;
  position: relative;
  padding: 7rem 2rem;
}

.first-section__card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-width: 250px;
  width: 31.3%;
  margin: 1%;
  background-color: #fff;
  border: none;
  border-radius: 16px;
  border-radius: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-shadow: 10px 25px 40px -22px rgba(104, 119, 142, 0.08);
          box-shadow: 10px 25px 40px -22px rgba(104, 119, 142, 0.08);
  padding: 6rem 2rem;
  text-align: left;
}

.first-section__card-title {
  color: inherit;
  font-size: 2rem;
  font-weight: 600;
}

.first-section__card-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}

.second-section {
  padding: 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4rem 0;
}

.second-section__image {
  width: 45%;
  margin: 0.5%;
}

.second-section__text-wrapper {
  width: 49%;
  text-align: left;
  margin: 0.5%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin-left: 8rem;
}

.second-section__title {
  margin-bottom: 1.2rem;
  color: inherit;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -1.2px;
  line-height: 1.05;
}

.second-section__number-title {
  color: inherit;
  font-size: 2rem;
  font-weight: 600;
}

.second-section__number-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-section__number-text-wrapper {
  padding-left: 5rem;
}

.second-section__number-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-section__number-small-text {
  opacity: 0.8;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 0.5rem;
}

.number {
  color: inherit;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -1.2px;
  line-height: 1.05;
  background-color: var(--timeline-bg, #fff);
  color: #b38cfc;
  font-variant-numeric: tabular-nums;
  height: 100%;
  letter-spacing: -1px;
  line-height: 1.4;
  max-width: 48px;
  width: 100%;
}

.second-section__number-title {
  color: inherit;
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .main-nav__nav-list {
    display: none;
  }
  .main-nav__mobile-menu {
    display: block;
  }
  .hero__title {
    font-size: 4.2rem;
  }
  .hero__background-image {
    display: none;
  }
  .hero__background-image--mobile {
    display: block;
  }
  .first-section__big-title {
    font-size: 2.8rem;
  }
  .first-section__card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-section__card {
    width: 100%;
  }
  .second-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 3rem;
  }
  .second-section__number-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .number {
    padding: 0;
  }
  .second-section__text-wrapper {
    width: 100%;
    margin: 0;
  }
  .second-section__image {
    width: 70%;
  }
  html {
    font-size: 48%;
  }
}
